
.history-accordion ::ng-deep .card.panel {
    border: 1px solid #c8c8c8;
    border-radius: 0;
    margin-bottom: 10px;
}

.history-accordion ::ng-deep .panel-heading {
    padding: 4px 12px;
    background: #efebea;
    border-bottom: none;
    border-radius: 0;
}

.history-accordion ::ng-deep .accordion-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.history-accordion ::ng-deep .accordion-toggle .btn {
    padding: 0;
    color: #434343;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.history-accordion ::ng-deep .accordion-toggle::after {
    content: "\e90a";
    font-family: 'pts-qa';
}

.history-accordion ::ng-deep .panel-open .accordion-toggle::after {
    content: "\e914";
    font-family: 'pts-qa';
}

.history-accordion ::ng-deep .card-body {
    padding: 10px 25px;
    background: #f9f9f9;
    background: #fff;
}
