.home-container{
    padding: 24px;
}

.welcome-date{
    font-family: 'Proxima Nova';
    font-weight: 500;
    font-size: 16px;
    color: #111827;
}

.welcome-greeting{
    font-family: 'Proxima Nova';
    font-weight: 500;
    font-size: 32px;
    color: #111827;
}

.action-section-stroked-button{
    padding: 2px 12px;
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 100px;
    font-family: 'Proxima Nova';
    font-weight: 500;
    font-size: 14px;
    color: #374151;
    .mat-icon{
    font-size: 16px;
    height: 16px;
    width: 16px;
    }
}