.test-run-item {
	width: calc(100% - 64px);
	margin: 10px 3px 0 61px;
	border: 1px solid #999999;
	padding: 8px 12px;
	background-color: #fff;
}

.test-run-item h3 {
	color: #0f5cb4;
    font-size: 14px;
    font-weight: 400;
	margin: 0;
}

.test-run-item p {
    font-size: 14px;
	color: #444444;
	margin: 0 0 4px 0;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 40px;
}

.btn.btn-primary,
.btn.btn-secondary,
.btn.btn-success {
    color: #fff;
    padding: 0 8px;
    font-size: 10px;
    text-transform: uppercase;
    border: none;
    font-weight: 700;
    height: 19px;
}

.btn.btn-success,
.btn.btn-success:hover,
.btn.btn-success:active,
.btn.btn-success:focus {
    background: #72c283!important;
}

.btn.btn-secondary i,
.btn.btn-success i {
    margin-right: 4px;
}

.btn.btn-secondary,
.btn.btn-secondary:hover,
.btn.btn-secondary:active,
.btn.btn-secondary:focus {
    background: #a0a1a5!important;
}

.btn.btn-primary,
.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary:focus {
    background-color: #556080!important;
}

/**/
.test-run-title-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 8px;
}

.test-run-badge {
    display: inline-block;
    padding: 2px 8px;
    border-radius: 4px;
    color: #fff;
    font-size: 10px;
    font-weight: 400;
    line-height: 13px;
    background: #a0a1a5;
    text-transform: uppercase;
    white-space: nowrap;
}

.test-run-badge.in-progress {
	background: #04A20F;
}

.test-run-badge.completed {
	background: #718BB1;
}

.test-run-badge.created {
	background: #F0AD4E;
}

.test-run-badge.nok {
	background: #F32525;
}

.test-run-badge.ok {
	background: #F77306;
}

.test-run-badge.paused {
	background: #F77306;;
}

.show-more-btn {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    padding: 0;
    background: #556080;
    color: #fff;
    border: unset;
    box-shadow: unset;
    display: flex;
    align-items: center;
    justify-content: center;
}

.show-more-btn .icon-more {
    font-size: 11px;
    transform: rotate(90deg);
}

.details-dropdown {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 4px;
}

.details-dropdown .test-run-label{
    font-size: 14px;
    color: #444444;
    white-space: nowrap;
    margin-right: 8px;
}