@font-face {
    font-family: 'proxima nova';
    src: url('proxima-nova-webfont.woff2') format('woff2'),
         url('proxima-nova-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}




@font-face {
    font-family: 'proxima nova';
    src: url('proxima-nova-light-webfont.woff2') format('woff2'),
         url('proxima-nova-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}




@font-face {
    font-family: 'proxima nova';
    src: url('proxima-nova-semibold-webfont.woff2') format('woff2'),
         url('proxima-nova-semibold-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}