<div class="left-nav">
    <div class="left-nav-content-wrapper h-100 d-flex flex-column justify-content-between">
        <div class="main-left-navigation d-flex flex-column">
            <a class="nav-link active" href="#"><mat-icon class="mr-2 rounded-icon">home</mat-icon><span>Home</span></a>
            <a class="nav-link" href="#"><mat-icon class="mr-2 rounded-icon">article</mat-icon><span>News</span></a>
            <a class="nav-link" href="#"><mat-icon class="mr-2 rounded-icon">folder</mat-icon><span>Tasks</span></a>
            <a class="nav-link" href="#"><mat-icon class="mr-2 rounded-icon">date_range</mat-icon><span>Leave request</span></a>
            <a class="nav-link" href="#"><mat-icon class="mr-2 rounded-icon">event_note</mat-icon><span>Timesheet</span></a>
        </div>
        <div class="general-left-navigation"></div>
    </div>
    <div class="close-left-nav d-flex align-items-center justify-content-center">
        <mat-icon>chevron_left</mat-icon>            
    </div>
</div>