<div class="content container-fluid">
  <div class="row p-2">
    <div class="next-event-container">
      {{ day[5] }}<br />
      <span>{{ month[0] }}</span>
    </div>
    <div class="col pr-0">
      <h2>{{ eventTitle[0] }}</h2>
      <p>{{ eventContent[0] }}</p>
    </div>
  </div>
  <div class="row p-2">
    <div class="next-event-container">
      {{ day[27] }}<br />
      <span>{{ month[1] }}</span>
    </div>
    <div class="col pr-0">
      <h2>{{ eventTitle[1] }}</h2>
      <p>{{ eventContent[1] }}</p>
    </div>
  </div>
  <div class="row p-2">
    <div class="prev-event-container">
      {{ day[28] }}<br />
      <span>{{ month[2] }}</span>
    </div>
    <div class="col pr-0">
      <h2>{{ eventTitle[2] }}</h2>
      <p>{{ eventContent[2] }}</p>
    </div>
  </div>
</div>
