<div class="container-fluid">
  <div class="row">
    <app-menu class="col-xl-2 col-lg-2 col-md-2 col-sm-3 p-0 expanded-menu menu-mobile-on" >
    </app-menu>

    <div class="col w-resp-content p-0">
      <app-search-bar (freeSearch)='onSearch($event)'></app-search-bar>


      <div class="container-fluid scroll-bar-content">
        <div class="main-content">
          <div class="main-block col-12 pr-0 pl-0">
            <div class="header">
              <h1 class="f-s-18">Events</h1>
            </div>
            <app-events></app-events>
                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
